/* src/index.css */

/* Center content vertically */
body {
  display: grid;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: #f9f9f9;
}

/* Add some padding to the container */
.container {
  padding: 20px;
}

/* Style form elements */
form {
  margin-bottom: 20px;
}

form label {
  font-weight: bold;
}

form input[type="text"],
form input[type="submit"],
form button {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

/* Style list items */
ul {
  list-style: none;

  padding: 0;
}

li {
  margin-bottom: 10px;
}

.link-as-text {
  text-decoration: none; /* Removes the default underline for links */
  color: inherit; /* Inherit the text color from the parent */
  cursor: pointer; /* Optional: Set cursor to pointer when hovering over the link */
}
.btn_div {
  padding: 15px;
}
