src/index.css

/* Center content vertically */
body {
  display: grid;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: #f9f9f9;
}
* {
  box-sizing: border-box;
}
/* Add some padding to the container */
.container {
  padding: 20px;
}

/* Style form elements */
form {
  margin-bottom: 20px;
}

form label {
  font-weight: bold;
}

form input[type="text"],
form input[type="number"],
form button {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

/* Style list items */
ul {
  list-style: none;

  padding: 0;
}

li {
  margin-bottom: 10px;
}

.link-as-text {
  text-decoration: none; /* Removes the default underline for links */
  color: inherit; /* Inherit the text color from the parent */
  cursor: pointer; /* Optional: Set cursor to pointer when hovering over the link */
}
.btn_div {
  padding: 15px;
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type="submit"] {
  background-color: #04aa6d;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: rgb(84, 84, 255);
}
